.common{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.header{
    height: 100px;
    background-color: rgb(168, 202, 236);
    color: white;
    line-height: 100px;
}
.mainbody{
    background-color: whitesmoke;
    right: 5px; 
    left: 5px;
}
.footer{
    background-color: rgb(168, 202, 236);
    font-size: 10px;
    height: 25px;
    position: fixed;
    bottom: 0px;
    right: 5px;
    left: 5px;
    padding-top: 15px;
    color: white;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%
}
nav{
    background-color: lightgray;
    padding: 10px;
    overflow: hidden;
}

nav a{
    float: left;
    color: black;
    padding: 10px 13px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    background-color: whitesmoke;
}